<nav>
	<ul>
		<li><input type="text" name="search" placeholder="zoeken"></li>
		<a href="/dashboard"><li>Dashboard</li></a>
		<a href="/clients"><li>Klanten</li></a>
		<a href="/projects"><li>Projecten</li></a>
		<a href="/manage"><li>Beheer</li></a>
	</ul>
	<section class="user-info">
		<h2>{{req.session.userName}}</h2>
		<a href="#">instellingen</a>
		<a href="/logout">Log uit</a>
		<div class="avatar" style="background-image: url('http://iamcore.nl/wp-content/uploads/2016/05/AC.png')">

		</div>
		{{!-- <img src="http://iamcore.nl/wp-content/uploads/2016/05/AC.png" alt="avatar"> --}}
	</section>
</nav>
