// Config
@import "vars/var"
// @import "functions/*"
// @import "mixins/*"

// UI
@import "plugins/normalize"

@import "base/base" // general styling using DOM element selectors

@import "typography/typo"

@import "layout/layout"

@import "components/card" // lego blocks
@import "components/tiles" // lego blocks
@import "components/header"
@import "components/side-nav"
@import "components/popup"

@import "pages/dashboard"
@import "pages/projectDetail"
@import "pages/search"
@import "pages/manage"

.hidden
  display: none!important
  // background-color: rgba(255,255,255,1)!important
  // opacity: 0
  // transition: all 1s linear

main.login
  background-image: url('../img/rock_in_the_branding.jpg')
  height: calc(100%)
  // margin-top: -40vh
  width: 100%
  position: absolute
  display: inline-block
  background-size: cover

main.flex
  display: flex

.page-content
  display: block
  width: 100%
  max-width: 45rem

  form
    max-width: 35rem
    margin: 2em auto
    background-color: white
    padding: 2rem

    .full-width
      width: 100% !important

    h1
      margin-bottom: 1rem
      text-align: center

    h1, p, label
    	color: black

    label, input, select, .checkboxes
      display: inline-block
      // margin: 0 auto
      // padding: 0
      border: 0
      // background-color: $dark-white

    label
      font-family: 'DinBold'
      width: 25%
      margin: 0.8em auto 0.4em auto
      text-align: left

    input
      width: 71.6%
      padding: 0.4em
      background-color: $dark-white
      border-radius: 6px

    .checkboxes
      width: 71.2%
      margin: 0.8em auto 0.4em auto
      padding: 0.4em 0.4em
      background-color: $dark-white
      border-radius: 6px

      label
        font-family: 'DinLight'
        margin: 0.4em auto
        width: 35%
      input
        width: auto
        margin: 0 0.4rem 0 1rem


    select
      width: 74%
      background-color: $dark-white
      -webkit-border-radius: 1px
      -moz-border-radius: 1px
      border-radius: 1px
      height: 2rem


.classifications
  // background: $icn-bg
  width: 24rem
  min-height: 2em
  padding: 0
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: stretch

  h1
    // color: $white
    text-transform: uppercase
    font-size: 1.15rem
    margin: 1rem

.icn-container
  width: 100%
  overflow-y: scroll

.icn-card
  width: 20rem
  height: 6rem
  margin: 0 1rem 1rem 1rem
  padding: 1rem
  overflow: hidden
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-items: stretch
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2)
  position: relative
  visibility: visible
  opacity: 1
  transition: all 1s linear

  h2
    text-align: left

  &.edit
    background-color: $white
    display: block
    height: auto
    h3
      color: black
      text-transform: uppercase
      display: block
    form
      margin: 1rem 0 0 0
    label, input, select
      font-size: 1rem
      margin: 0.4rem 0
      display: inline-block
    label
      width: 30%
    input, select
      width: 66.8%
      border: 0
    button
      display: inline-block
      min-width: 5em
    select
      width: 68%
      background-color: white

    .select-niveau
      display: inline-block
      width: 66.8%
      & .circle
        border-radius: 100%
        display: inline-block
        width: 1.7rem
        height: 1.7rem
        margin: 0
        margin-right: 0.03rem
        p
          text-align: center
          margin-top: 0.2rem
          color: white
          font-family: "dinBold"
        &.selected
          border: 2px solid black

    .icn-close
      color: black
      font-family: "dinBold"
      // height: 2rem
      font-size: 1rem
      // position: fixed
      top: 1rem
      right: 1rem
      position: absolute
      cursor: pointer

  img
    width: 6rem
    height: 6rem
    // display: inline-block
    border-radius: 100%
  .image
    width: 6rem
    height: 6rem
    // display: inline-block
    border-radius: 100%
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    background-color: white

  h2
    color: $white
    width: auto
    max-width: 11rem
    display: inline-block
    text-transform: uppercase
    margin: 0 0 0.4rem 0
    font-size: 1.4rem

  h3
    color: $white
    display: inline-block
    margin: 0
    max-width: 11rem
    font-size: 1rem

  .icn-action
    color: $white
    // height: 2rem
    font-size: 0.3rem
    padding: 1rem
    // position: fixed
    right: 0rem
    top: 0
    position: absolute
    cursor: pointer

.n-one
  background-color: $n-one
  border-color: $n-one!important

.n-two
  background-color: $n-two
  border-color: $n-two!important

.n-three
  background-color: $n-three
  border-color: $n-three!important

.n-four
  background-color: $n-four
  border-color: $n-four!important

.n-five
  background-color: $n-five
  border-color: $n-five!important

.n-six
  background-color: $n-six
  border-color: $n-six!important

.n-1
  background-color: $n-one
  border-color: $n-one!important

.n-2
  background-color: $n-two
  border-color: $n-two!important

.n-3
  background-color: $n-three
  border-color: $n-three!important

.n-4
  background-color: $n-four
  border-color: $n-four!important

.n-5
  background-color: $n-five
  border-color: $n-five!important

.n-6
  background-color: $n-six
  border-color: $n-six!important

button, .button
  display: block
  margin: 1.6em auto 0.8em
  padding: 0.8em
  min-width: 10em

  color: white
  background-color: $action-color
  border: 0
  transition: background-color 0.2s ease-out

  &:hover
    background-color: $action-color-active


#new-project
  .page-content
    .checkboxes
      label
        position: relative
        height: 2.2rem
      .circle
        position: absolute
        margin: 0
        right: 0
