{{> header}}

<div class="container" id="projects">

	{{> side-nav}}

	<main>
		<div class="dashboard-info">
			<a href="/projects/create">
				<div class="button">
					<p>Nieuw project aanmaken</p>
				</div>
			</a>
		</div>

		<div class="tile-container">

			{{#each projects}}
			<a href="/projects/{{_id}}" class="tile">
				<div class="project-logo" style="background-image: url('{{projectImage}}')"></div>
				<h1>{{name}}</h1>
			</a>
			{{/each}}

		</div>
	</main>
</div>
