{{> header}}

<div class="container" id="projects">

	{{> side-nav}}

	<main>
		{{!-- <div class="dashboard-info">
			<p>gebruiker: {{req.session.username}}</p>
			<h1>{{title}}</h1>
			<a href="create">Nieuw project aanmaken</a>
		</div> --}}
		<div class="page-content">
			<form action="/clients/create" method="post">
				<h1>Gegevens van de klant</h1>

				{{#if error}}<p class="error-log">{{error}}</p>{{/if}}


				<label for="client">Klant naam</label>
				<input id='clientName' name='clientName' type='text' value="{{clientName}}">


				<button type="submit">Aanmaken</button>
			</form>
		</div>
	</main>
</div>
