$white: rgba(246, 248, 249,1.0)
$dark-white: rgba(240, 242, 243,1.0)

// $prim-color: rgba(44, 62, 80,1.0)
$prim-color: rgba(00, 00, 00,1.0)
$prim-color-trans: rgba(00, 00, 00,0.8)
// $sec-color: #263645
$sec-color: rgba(44, 62, 80,1.0)
$err-color: rgba(231, 76, 60,1.0)
$action-color: rgba(46, 204, 113,1.0)
$action-color-active: rgba(39, 174, 96,1.0)

$ac-blue: #67c8f2

$icn-bg: rgba(44, 62, 80,1.0)

$n-one: rgba(225,63,21,1)
$n-two: rgba(237,106,27,1)
$n-three: rgba(245,165,25,1)
$n-four: rgba(202,199,161,1)
$n-five: rgba(160,212,210,1)
$n-six: rgba(115,200,223,1)

$light-shadow: 0px 2px 2px 1px rgba(100,100,100,0.2)
