{{> header}}

<div class="container" id="manage">

	{{> side-nav}}

	<main>
		{{!-- <div class="dashboard-info">
			<p>gebruiker: {{req.session.username}}</p>
			<h2>{{title}}</h2>
		</div> --}}

		<div class="flat-tile-container">

				<a class="flat-tile" href="/manage/accounts">
					<h2>Accounts</h2>
				</a>

				<a class="flat-tile" href="#0">
					<h2>Rollen</h2>
				</a>

				<a class="flat-tile" href="#0">
					<h2>Logs</h2>
				</a>

				<a class="flat-tile" href="#0">
					<h2>Project templates</h2>
				</a>

				<a class="flat-tile" href="#0">
					<h2>Systeem settings</h2>
				</a>

		</div>
	</main>
</div>
