{{> header}}

<div class="container" id="manage">

	{{> side-nav}}

	<main>
		{{!-- <div class="dashboard-info">
			<p>gebruiker: {{req.session.username}}</p>
			<h2>{{title}}</h2>
		</div> --}}

		<div class="flat-tile-container">

				<a class="flat-tile" href="/manage/accounts">
					<h2><i class="fa fa-users" aria-hidden="true"></i>Accounts</h2>
				</a>

				<a class="flat-tile" href="/manage/roles">
					<h2><i class="fa fa-id-card" aria-hidden="true"></i>Rollen</h2>
				</a>

				<a class="flat-tile" href="/manage/logs	">
					<h2><i class="fa fa-file" aria-hidden="true"></i>Logs</h2>
				</a>

				{{!-- <a class="flat-tile" href="#0">
					<h2><i class="fa fa-users" aria-hidden="true"></i>Project templates</h2>
				</a> --}}

				<a class="flat-tile" href="#0">
					<h2><i class="fa fa-cogs" aria-hidden="true"></i>Systeem settings</h2>
				</a>

		</div>
	</main>
</div>
