header
	width: 100vw
	height: 5rem
	background-color: $prim-color
	text-align: left

	h1, p
		display: inline-block
		font-size: 2em
		padding: 1.2rem 0
		color: white
		text-transform: uppercase

	p
		width: 12rem
		text-align: center
