main
	height: 100%

.dashboard-info
	height: 10%

.tile-container
	width: 100%
	height: 90%
	// height: calc(100vh - 3rem)
	overflow: scroll

	display: flex
	// flex-direction: row
	flex-wrap: wrap
	// align-items: center
	// justify-content: space-around

	.tile
		width: 15em
		height: 15em

		margin: 1.6em 0.8em

		background-color: $ac-blue

		.project-logo
			width: 100%
			height: 80%
			background-size: cover
			background-position: center center
			background-color: white

		h1
			display: block
			height: 20%
			margin: 0.5rem 0.4rem 0.4rem 0.4rem

			font-size: 1.3em
			color: white
			text-align: center
			text-transform: uppercase
