{{> header}}

<div class="container" id="projectDetail">

	{{> side-nav}}

	<main>
		<nav class="project-nav">
			<a href="{{req.baseUrl}}/projects/{{title}}/files">Bestanden</a>
			<a href="{{req.baseUrl}}/projects/{{title}}/auth">Authenticatie gegevens</a>
		</nav>

			<div class="auth-container">

				<div class="auth-block">
					<div class="auth-header">
						<h2>Title</h2>
						<div class="auth-edit">
							edit
						</div>
					</div>
					<div class="auth-text">
						<p>[options] (Object|String|Array): If the options is a string, it will be parsed as the fields to select. In addition to the mongo options, you can pass the option rawCursor in order to get the raw mongo cursor when the promise resolve.</p>
					</div>
					<div class="auth-data">
						<p>username</p>
						<p>password</p>
					</div>
				</div>

				<div class="auth-block">
					<div class="auth-header">
						<h2>TitleTitleTitle Title</h2>
						<div class="auth-edit">
							edit
						</div>
					</div>
					<div class="auth-text">
						<p>[options] (Object|String|Array): If the options is a string, it will be parsed as the fields to select. In addition to the mongo options, you can pass the option rawCursor in order to get the raw mongo cursor when the promise resolve.</p>
					</div>
					<div class="auth-data">
						<p>usernameusernameusername</p>
						<p>passwordpa sswordpassw ordpass wordpassword</p>
					</div>
				</div>

				<div class="auth-block">
					<div class="auth-header">
						<h2>Title</h2>
						<div class="auth-edit">
							edit
						</div>
					</div>
					<div class="auth-text">
						<p>[options] (Object|String|Array): If the options is a string, it will be parsed as the fields to select. In addition to the mongo options, you can pass the option rawCursor in order to get the raw mongo cursor when the promise resolve.</p>
					</div>
					<div class="auth-data">
						<p>username</p>
						<p>password</p>
					</div>
				</div>

			</div>

	</main>
</div>
