.dashboard-info
  text-align: left
  height: auto
  .button
    width: 14rem
    margin-top: 1rem
    margin-bottom: 1rem
    display: inline-block
    color: white!important
    text-align: center

    &:hover
      font-family: 'dinLight'

#manage
  .flat-tile-container
    margin: 1rem 0
  .icn-card
    margin-left: 0


#createAccount

  form
    .select-niveau
      display: inline-block
    .circle
      margin: 0 0.5rem 0 0

      input
        display: none

  .icn-card
    padding: 0.5rem
    color: white
    height: auto

    h2
      margin: 0
      margin-bottom: 0.5rem
      max-width: none

    h3
      margin-top: 0.8rem
      text-transform: uppercase

    li
      list-style-type: disc
      margin-left: -1rem

    ul
      margin: 0.5rem 0


#manage-account
  .dashboard-info
  form
    // margin-left: 1rem

    .select-niveau
      display: inline-block
    .circle
      margin: 0
      margin-right: 0.27rem

  h1
    // margin: 1rem 0
  .tile-container
    // width: calc(100% - 2rem)
    // margin: 0 1rem
    background-color: white
    // padding: 0.5rem
    // padding-top: 1.5rem

    h1
      width: 100%
      margin: 1rem
      margin-top: -0.5rem

    .image
      border-radius: 0
      // padding: 0.5rem
