

#projectDetail

  .overlay
    background-color: white
    height: 100%
    width: 100%
    position: absolute
    top: 0
    // left: 0
    z-index: 99
    transition: all 0.4s ease
    > *
      display: block
      max-width: 20rem
      margin: 2rem auto

    &.gone
      // transform: 100vh
      transform: translateY(-100vh)
      // left: -100vw
      // position: fixed
      // transition: all 0.4s ease

    form
      text-align: center
      input
        border: 0
        padding: 0.4em
        background-color: $dark-white
        border-radius: 6px
        display: block
        width: calc(100% - 2.8rem)
        margin: 1rem 1rem 0 1rem

  main
    max-width: calc(100% - 10em)
    position: relative

  .project-nav
    width: 100%
    height: 3rem
    background-color: lightgray
    display: flex
    flex-direction: row
    justify-content: flex-start

    a
      background-color: white
      padding: 0.6rem 2rem
      margin-left: 0.5rem
      border-top-left-radius: 0.7rem
      border-top-right-radius: 0.7rem
      color: black
      margin-top: 0.5rem
      display: block
      &.active
        font-weight: bold
        background-color: $white

    .new-file-button
      // position: absolute
      // text-transform: uppercase
      display: flex
      flex-wrap: wrap
      cursor: pointer
      margin-left: auto

      .button
        margin: 0.4rem 0.4rem
        padding: 0.4rem 0.8rem
        display: flex
        align-items: center
        min-width: 5rem
      img
        height: 1.5rem
      p
        margin-left: 0.2rem


  .auth-container
    width: 100%
    // height: calc(100% - 7rem)
    overflow-y: scroll
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: wrap
    align-items: flex-start

  .auth-block
    background-color: white
    width: 20rem
    // min-height: 20rem
    margin: 1rem
    box-shadow: $light-shadow

  .auth-header
    width: 100%
    color: black
    background-color: $darker-white
    border-bottom: 2px solid white

    h2
      display: inline-block
      width: 70%
      margin: 0.5rem 0rem 0.5rem 2rem

  .auth-edit
    width: 10%
    display: inline-block

  .auth-text
    margin: 2rem

  .auth-data
    margin: 2rem 1rem

    p
      color: black
      display: block
      overflow: scroll
      background-color: $white
      margin: 1rem 0rem
      padding: 0.5rem
      box-shadow: $light-shadow
      position: relative

    img, i
      height: 1.4rem
      position: absolute
      right: 0.4rem
      cursor: pointer

    i
      right: 2.2rem


  .files-container
    width: 100%
    height: calc(100% - 3rem)
    overflow-y: scroll

    .files-header
      // padding: 0.5em
      position: relative
      display: flex

      .crums
        display: inline-block
        font-size: 0.9rem
        background-color: white
        padding: 0.5rem
        padding-left: 0.8rem
        margin: 0.6rem
        margin-left: 0
        margin-right: 14px
        vertical-align: middle
        position: relative
        color: black
        // box-shadow: $light-shadow

        &:hover
          font-family: 'dinLight'

        &::after
          content: ""
          width: 0
          height: 0
          border-top: 17px solid transparent
          border-bottom: 17px solid transparent
          border-left: 10px solid white
          position: absolute
          right: -10px
          top: 0



    .files-list
      min-width: 15rem
      min-height: 87%
      overflow-y: scroll
      background-color: lightgray
      border-right: 2px solid rgba(255,255,255,0.4)

    .item-wrapper
      position: relative

    .files-item-header
      font-family: 'dinBold'
      min-height: 2rem!important
      .name
        margin-left: 3rem
        min-width: 14rem!important
      // .user
      //   margin: auto
      .acties
        margin-right: 0.5rem
      // .date
        // margin: auto
        // margin-left: 5rem
        // width: 10rem
        // display: inline-block

    .files-item
      box-sizing: border-box
      min-height: 5em
      margin: 0.7rem
      padding: 0.2rem 0.2rem 0.2rem 0.6rem
      display: flex
      position: relative
      align-items: center
      // flex-direction: column
      background-color: $white
      box-shadow: $light-shadow

      .name
        min-width: 15rem

      .user
        // margin-left: 2rem
        // margin-right: auto
        margin: auto

      .date
        margin: auto

      .acties, .action-button
        padding-left: 0!important
        margin-left: 0!important

      .niveau
        margin: 0 auto

      img
        width: 2rem
        margin-right: 1rem


      .action-button
        display: inline-block
        // align-self: flex-end
        // margin: 1rem
        padding: 2rem 1rem 2rem 2rem
        margin-left: auto

      &:hover
        background-color: white
        color: $prim-color
        font-weight: bolder

    .files-item-active
      background-color: white
      color: $prim-color
      font-weight: bold

    .action-menu
      position: absolute
      // min-width: 10rem
      // min-height: 10rem
      padding: 1.5rem
      background-color: white
      right: 1.3rem
      top: 3rem
      z-index: 99
      box-shadow: $light-shadow

      ul
        margin: 0

      li
        list-style-type: none
        display: block
        margin: 0.7rem 0 0 0
        margin-left: -2.5rem
        color: black
        &:hover
          font-family: 'dinLight'

      h3
        // margin-left: 1rem
        margin: 0 0 0.5rem 0
